.adminPage {
  background: url("https://image.freepik.com/free-vector/bons-foot-prints-pattern-background_1374-18.jpg");
  color: white;
  padding: 20px;
}

.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td,
.customers thead {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: black;
}

.customers tr:hover {
  background-color: grey;
}

#customers thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
